.container {
    position: relative;
    height: 20px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    /* transform: translateX(-100%); */
    background-color: green;
  }
  